header {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: $desktopHeaderHeight;
    top: 0;
    left: 0;
    background: transparentize($color: $white, $amount: 0.2);
    backdrop-filter: blur(15px);
    padding: 10px 0;
    box-sizing: border-box;
    display: flex !important;
    align-items: center;
    
    .navbar {
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #ham {
        /* position: absolute;
        right: 15px; */
        z-index: 2;
        top: 12px;
        width: 50px;
        height: auto;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        user-select: none;

        .line {
            fill:none;
            transition: 400ms ease;
            stroke:$coax;
            stroke-width:5.5;
            stroke-linecap:round;
        }
        .top {
            stroke-dasharray: 40 139;
        }
        .bottom {
            stroke-dasharray: 40 180;
        }
    }
    nav.hamburgerOpened #ham {
        transform: rotate(45deg);
        .line {
            stroke: $black;
        }
        .top {
            stroke-dashoffset: -98px;
        }
        .bottom {
            stroke-dashoffset: -138px;
        }
    }

    @media (max-width: $mobile) {
        .linksContainer {
            z-index: 2;
            display: flex;
            position: absolute;
            width: 100vw;
            height: calc(100vh - #{$desktopHeaderHeight});
            left: 0;
            top: $desktopHeaderHeight;
            background: transparentize($color: $white, $amount: 0.1);
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transform: translateX(-100vw);
            transition: transform $transition;

            li {
                padding: 5px 0;
            }
        }
        .logoImgContainer {
            .logo {
                height: 80%;
            }
            .logoText {
                font-size: 20px;
            }
        }
        nav.hamburgerOpened .linksContainer {
            transform: translateX(0);
            backdrop-filter: blur(15px);
        }
    }
}
.logoImgContainer {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;

    .logo {
        display: block;
        height: 100%;
        width: auto;
        transition: filter $transition;
    }
    .logoText {
        display: block;
        text-align: left;
        color: $black;
        font-size: 24px;
        font-weight: 700;
        padding-left: 15px;
        transition: color $transition;
    }
    &:hover {
        .logo {
            filter: brightness(120%);
        }
        .logoText {
            color: $orange;
        }
    }
}
.linksContainer {
    height: 100%;
    width: max-content;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-template-rows: 100%;
    grid-gap: 30px;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;

    .link {
        font-size: 16px;
        font-weight: 500;
        color: $black;
        transition: color $transition;
        text-decoration: none;
        &.nuxt-link-exact-active {
            color: $yellow;
        }
        &:not(.nuxt-link-exact-active):hover {
            color: $orange;
        }
    }
    .defbtn {
        margin-left: 5px;
    }

    @media (max-width: $mobile) {
        width: 100%;
        grid-template-columns: 100%;
        grid-auto-flow: row;
        grid-template-rows: initial !important;
        grid-auto-rows: max-content;
        grid-gap: 10px;
        justify-content: center;

        .link {
            width: 100%;
            display: block;
            text-align: center;
        }
    }
}